<div id="primary">	
<header id="header"><%=render "static_pages/header.html.erb" %></header>
	<div class="container">
		<ul class="coming-soon">
			Users
			<li>- Your personal profile</li>
			<li>- Remember which kanji you know well, only a little, and not at all</li>
			<li>- Build custom collections to study only the kanji you care about and share them with your friends</li>
			<li>- Customize the random kanji displayed on the home page</li>
			<li>- Badges, leaderboards, more...</li>
		</ul>
	</div>
</div>
<div id="secondary">
	<div class="container">
			<ul class="coming-soon">
			Compound words
			<li>- Study and test yourself on words formed from compound kanji</li>
			<li>- Remember which words you know well, only a little, and not at all</li>
			<li>- Automatically create collections of compound words you know after successfully testing on the individual kanji involved</li>
			<li></li>
		</ul>
	</div>
</div>
<div id="tertiary">	
	<div class="container">
		<ul class="coming-soon">
			More...
			<li>- Got a suggestion? Shoot me an email at: suggestions{at}kanjimasu{dot}com</li>
			<li>- Found a bug? Let me know at: bugs{at}kanjimasu{dot}com</li>
			<li>- Just want to say hi? I'm always happy to chat: thanks{at}kanjimasu{dot}com</li>
		</ul>
	</div>
</div>
