<div class="full-width-container">
	<div class="container">
		<div class="kanji">日</div>
		<div class="readings">
			<div class="onyomi">ニチ | ジツ</div>
			<div class="kunyomi">-か | ひ | -び</div>
		</div>
		<div class="translation">counter for days; day; Japan; sun;</div>
	</div>
</div>