<header id="header"><%=render "static_pages/header.html.erb"%></header>
<div class="container">
	
	<div class="collections">
		<ul class="collection-list">
				<li><%=link_to "Jonathan Waller", "http://www.tanos.co.uk/", target: "_blank"%>
				 <span> | Provided a list of reasonable kanji for each JLPT level</span>
				</li>
				<li><%=link_to "Jisho.org", "http://jisho.org/", target: "_blank"%>
				 <span> | Translations, onyomi, and kunyomi for all kanji on the site</span>
				</li>
				<li><%=link_to "Jim Breen's WWWJDIC", "http://www.csse.monash.edu.au/~jwb/cgi-bin/wwwjdic.cgi?1C", target: "_blank"%>
				 <span> | The original source for Jisho.org's data</span>
				</li>
		</ul>
	</div>
</div>