<div class="container">
	<h1 class="logo"><%=link_to "Kanjimasu", root_url%></h1>
	<nav class="left">
		<ul class="cf">
			<li><%=link_to "Blog", blog_path%></li>
		</ul>
	</nav>
</div>
<div id="notices"></div>