// Place all the styles related to the Collections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.collections {

}

.collection-list {
	margin-top: 20px;
	margin-bottom: 20px;
}

.collection-list ul {
	
	
}

.collection-list li {
	//positioning
	margin-top: 5px;
	margin-bottom: 15px;
	//font
	line-height: 20px;
	border-top: 1px solid #b3b3b1;
}