.onyomi-test {
	float: left;
	margin: 50px 0 0 0;
	color: white;
}
.kunyomi-test {
	float: right;
	margin: 50px 0 0 0;
	color: white
}

.onyomi-answer {
	float: left;
	margin: 50px 0 0 0;
}
.kunyomi-answer {
	float: right;
	margin: 50px 0 0 0;
}

.translation-test {
	//position
	margin: 50px 0 0 0;
	text-align: center;

	//font
	color: white;
	font-family: "ff-tisa-web-pro",Georgia,Cambria,"Times New Roman",Times,serif;
}
