// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
a {
//positioning
color: #333;
text-decoration: none;
	&:hover{
		text-decoration: none;
	}
}

#primary {
	//background: #0f8ad5;
	background: #E33B3B;
	color: #F0DDDD;
	.container {
		padding-bottom: 30px;
		margin-top: 0;
		padding-top: 30px;
	}

}

html,body { height:100%; }

#secondary {
    //padding-bottom: 100%;
	
	background: #333;
	color: #ccc;
	.container {
		margin-top: 0;
		padding-top: 30px;
		padding-bottom: 30px;
	}
}

.coming-soon {
	overflow: hidden;

	
	font-weight: bold;
	font-size: 20px;
	li {
		margin-top: 5px;
		font-size: 16px;
	}
}